{{!< default}}
{{#post}}
    <section
        id="more"
        class="relative pt-16 overflow-hidden bg-black bg-center bg-cover md:pt-36"
        style="background-image: url({{feature_image}});"
    >
        <img
            class="absolute top-0 right-0"
            src="/assets/public/radial-safety.svg"
            alt=""
        />
        <div class="absolute inset-0 bg-gradient-to-r from-black"></div>

        <div class="container relative z-20 px-4 mx-auto mb-12 max-w-7xl">
            <div class="flex flex-wrap -m-6">
                <div class="w-full p-6 lg:w-1/2">
                    <div class="lg:max-w-xl">
                        <h2
                            class="mb-6 font-serif text-5xl font-bold text-white font-heading"
                        >{{title}}</h2>
                        {{#if custom_excerpt}}
                            <p
                                class="mb-20 text-base text-white"
                            >{{custom_excerpt}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{! CONTENT }}
    <section class="py-16 relative bg-white background-position: center top;">
        <img
            class="absolute top-0 left-0 z-0 opacity-25"
            src="https://millennium-energy.pl/assets/public/radial.png"
            alt=""
        />
        <div class="mx-auto">
            <div
                class="relative z-20 px-4 mx-auto mb-8 text-lg font-medium leading-loose prose text-gray-500 md:max-w-5xl md:text-xl"
            >
                {{content}}
            </div>
        </div>
    </section>
{{/post}}