{{!< default}}
{{#post}}
    <section
        id="more"
        class="relative pt-16 overflow-hidden bg-black bg-center bg-cover md:pt-36"
        style="background-image: url({{feature_image}});"
    >
        <img
            class="absolute top-0 right-0"
            src="/assets/public/radial-safety.svg"
            alt=""
        />
        <div class="absolute inset-0 bg-gradient-to-r from-black"></div>

        <div class="container relative z-20 px-4 mx-auto mb-12 max-w-7xl">
            <div class="flex flex-wrap -m-6">
                <div class="w-full p-6 lg:w-1/2">
                    <div class="lg:max-w-xl">
                        <h2
                            class="mb-6 font-serif text-5xl font-bold text-white font-heading"
                        >{{title}}</h2>
                        {{#if custom_excerpt}}
                            <p
                                class="mb-20 text-base text-white"
                            >{{custom_excerpt}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{! CONTENT }}
    <section class="py-16 relative bg-white background-position: center top;">
        <img
            class="absolute top-0 left-0 z-0 opacity-25"
            src="https://millennium-energy.pl/assets/public/radial.png"
            alt=""
        />
        <div class="mx-auto">
            <div
                class="relative z-20 px-4 mx-auto mb-8 text-lg font-medium leading-loose prose text-gray-500 md:max-w-5xl md:text-xl"
            >
                {{content}}
            </div>
        </div>
    </section>
    <section
        class="w-full px-8 pb-12 bg-white md:pb-16 xl:px-0 tails-selected-element"
        x-data="{ section: 'equal' }"
        data-tails-scripts="//unpkg.com/alpinejs"
        contenteditable="true"
    >
        <div class="max-w-5xl mx-auto text-left md:px-4">
            <div class="flex justify-start w-full mb-12 space-x-12">
                <h2
                    @click="section='equal'"
                    class="relative z-20 text-2xl text-black cursor-pointer md:text-4xl"
                    :class="{ '' : section == 'equal', 'text-gray-400 hover:text-gray-900' : section != 'equal' }"
                >Stała cena energii</h2>
                <h2
                    @click="section='market'"
                    class="relative z-20 text-2xl text-gray-400 cursor-pointer md:text-4xl hover:text-gray-900"
                    :class="{ '' : section == 'market', 'text-gray-400 hover:text-gray-900' : section != 'market' }"
                >Gracz giełdowy</h2>
            </div>

            <div
                class="relative w-full h-auto mt-6 overflow-hidden grow md:mt-1"
            >
                <div
                    class="w-full space-y-6"
                    x-show="section == 'equal'"
                    x-transition:enter="top-0 left-0 w-full h-full absolute transition ease-out duration-300"
                    x-transition:enter-start="opacity-0 transform translate-y-full"
                    x-transition:enter-end="opacity-100 transform translate-y-0"
                    x-transition:leave="transition ease-out duration-300"
                    x-transition:leave-start="opacity-100 transform translate-y-0"
                    x-transition:leave-end="opacity-0 transform -translate-y-full"
                >
                    <svg
                        class="w-12 h-12 text-blue-500"
                        data-primary="blue-500"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                        ></path></svg>
                    <h3 class="text-2xl font-bold leading-7">Pewność i gwarancja
                        bezpieczeńśtwa</h3>
                    <p
                        class="mx-auto mb-8 text-lg font-medium leading-loose text-gray-500 md:max-w-5xl md:text-xl"
                    >Rozwiązanie dla firm, dla których pewność i bezpieczeństwo
                        to podstawa. Niezmienna cena za MWh może okazać się
                        odpowiednim wyborem w czasach, w których ceny węgla są
                        bardzo wysokie, a ceny za uprawnienia do emisji CO2
                        rosną wykładniczo co odbija się bezpośrednio na
                        odbiorcach i ich rachunkach za prąd. Dzięki Stałej Cenie
                        Energii firmy nie odczują podwyżek cen, które często są
                        znacznym kosztem prowadzenia biznesu. Umowa stałej ceny
                        może być zawarta od 12. Do 60. Miesięcy i dla Państwa
                        wygody jej podpisanie może odbyć się w trybie online.</p>
                </div>

                <div
                    class="space-y-6"
                    x-show="section == 'market'"
                    x-transition:enter="top-0 left-0 w-full h-full absolute transition ease-out duration-300"
                    x-transition:enter-start="opacity-0 transform translate-y-full"
                    x-transition:enter-end="opacity-100 transform translate-y-0"
                    x-transition:leave="transition ease-out duration-300"
                    x-transition:leave-start="opacity-100 transform translate-y-0"
                    x-transition:leave-end="opacity-0 transform -translate-y-full"
                    style="display: none;"
                >
                    <svg
                        class="w-12 h-12 text-blue-500 stroke-current"
                        data-primary="blue-500"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#2c3e50"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ><path stroke="none" d="M0 0h24v24H0z"></path><path
                            d="M4 13a8 8 0 017 7 6 6 0 003-5 9 9 0 006-8 3 3 0 00-3-3 9 9 0 00-8 6 6 6 0 00-5 3"
                        ></path><path
                            d="M7 14a6 6 0 00-3 6 6 6 0 006-3"
                        ></path><circle cx="15" cy="9" r="1"></circle></svg>
                    <h3 class="text-2xl font-bold leading-7">Maksymalne
                        obniżenie ceny</h3>
                    <p
                        class="mx-auto mb-8 text-lg font-medium leading-loose text-gray-500 md:text-xl"
                    >Rozwiązanie dla Klientów, którzy chcą obniżyć swoje
                        rachunki w stosunku do obecnych stawek u ich sprzedawcy
                        za prąd. Dzięki zakupom na Towarowej Giełdzie Energii
                        (TGE) możemy zaproponować korzystniejsze stawki za
                        energię elektryczną, które Klient rozlicza codziennie w
                        oparciu o notowania Rynku Dnia Następnego, w ramach
                        którego dokonuje się zakupu energii elektrycznej na
                        kolejny dzień w układzie godzinowym. Jest to produkt dla
                        firm, w których energia stanowi wysoki procent kosztów.
                        Gracz daje firmom możliwość wstrzymania decyzji o
                        zakupie stałej ceny, do momentu uzyskania
                        satysfakcjonującego poziomu cenowego na Towarowej
                        Giełdzie Energii SA i zagwarantowania jej na czas umowy.
                        Ostateczna cena według, której firma dokonujemy zakupu
                        dla klienta, jest publikowana na 24h przed zakupem.</p>
                </div>
            </div>
        </div>
    </section>
{{/post}}